.my-footer {

  background-color: thistle;
  text-align: center;
  text-decoration: whitesmoke;
  position: relative;

}

.my-logo-footer {
  justify-content: center;
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;

}